
{% extends "layout.html" %}

{% block page_title %}
        Login
{% endblock %}

{% block content %}

<div class="list_and_sort">
<h3>Login to see more detail!</h3>
<form action="/login", method="post">
<input id="user_name" name="user_name" type="email" placeholder="Enter your email" class="form-control" required><br>
<input id="password" name="password" type="password" placeholder="Enter your password" class="form-control" required><br>
    <button type="submit" class="btn btn-dark">LOGIN</button><br>
    </form>
</div>

{% endblock %}